/*
* My Feelings - Card Game Stylesheet
* Author: SIMON GOMES
* Date: August 25, 2015
* Version: 1.0
*/
/*-- Fonts Import --*/
@import url('http://fonts.googleapis.com/css?family=Open+Sans'); /* font-family: 'Open Sans', sans-serif; */
body {
	background: url("../image/background.png") no-repeat scroll center top;
	background-size: cover;
}

#wrap .main {
	margin-top: 60px;
	font-family: 'Open Sans', sans-serif;
	.block {
		.inner {
			min-height: 500px;
			//border: 2px solid #CC0001;
			//background: rgba(255, 255, 255, 0.8);
			padding: 0 15px;
		}

		&.desty {
			width: 30%;
			float: left;
			.inner {
				max-width: 300px;
				margin: 0 auto;

				.frame {
					width: 148px;
					height: 222px;
					background: url('../image/rectangular-frame.png');
					margin: 0 auto;
					position: relative;

					.avater-head {
						position: absolute;
						bottom: 15px;
						left: 18px;
					}
				}
				.desty-img {
					margin-top: 50px;
				}
			}			
		} // end desty

		&.slider {
			width: 69%;
			float: right;			
		} // end my-feeling 
	}
}

/* Media Queries */
@media screen  and  (min-width: 992px) and (max-width: 1199px) {
	
}
@media screen  and (max-width: 1023px) {
	
}
@media screen  and (max-width: 991px) {
	
}
@media screen  and ( max-width: 630px ) {
	
}